/* 
SCSS RGB 
site:  https://coolors.co/
$alice-blue: rgba(232, 238, 242, 1); azul branco
$pale-silver: rgba(214, 201, 201, 1); rosa
$beau-blue: rgba(199, 211, 221, 1); azul clarinho
$aero: rgba(119, 182, 234, 1); azul turqueza claro
$onyx: rgba(55, 57, 58, 1); grafite
*/

body {
  background-color: rgba(199 , 211 , 221 , 1);
  color: rgba(55 , 57 , 58 , 1);
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 5px;
  border: 1px solid rgba(55 , 57 , 58 , 1);
  padding: 10px;
  margin: 10px;
  background-color: rgba(214 , 201 , 201 , 1);
}

#texto-tarefa {
  background-color: white;
  border: 1px solid rgba(55 , 57 , 58 , 1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#container {
  background-color: rgba(232 , 238 , 242 , 1);
  border-radius: 5px;
  padding-left: 29%;
}

.header {
  background-color: rgba(214 , 201 , 201 , 1);
  position: absolute;
  width: 100%;
}

h1 , p {
  text-align: center;
  width: 100%;
}

.main {
  display: inline-block;
  margin-top: 140px;
  margin-left: 13%;
  width: 70%;
}

.item-list {
  margin: 15px;
}

.footer {
  clear: both;
}

.completed {
  color: rgb(0 , 0 , 0);
  text-decoration: line-through;
}

.selected {
  background-color: rgb(128 , 128 , 128);
}
